* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: black;
  width: 80%;
  margin: auto;
}

.header-container {
  background-color: black;
}

.header img {
  width: 150px;
}

.header a {
  color: white;
  text-decoration: none;
}

.premium {
  border: 5px solid blue;
  background-color: rgb(29, 117, 222);
  color: white;
  padding: 75px 140px;
}

.comeceAgora {
  background-color: black;
}

.premium a {
  color: white;
}

.verPlanos {
  border: 5px solid white;
}

.premiumButtons {
  border-radius: 80px;
  padding: 20px 40px;
}
